<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee">

    <description>My Blog Project</description>

    <!-- ContextLoaderListener用来加载所有的Spring配置bean，
     dal模块中的spring/blog-dal-beans.xml配置文件是通过contextConfigLocation参数来指定的，
     但是必须要配置此ContextLoaderListener才能加载。
     contextConfigLocation参数是配合ContextLoaderListener来使用的，有时间了再去看看源码是怎么用的-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:spring/*.xml</param-value>
    </context-param>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>sessionFilter</filter-name>
        <filter-class>com.cui.blog.web.filter.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sessionFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <!--文章浏览统计：-->
    <filter>
        <filter-name>articleViewCountFilter</filter-name>
        <filter-class>com.cui.blog.web.filter.ArticleViewCountFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>articleViewCountFilter</filter-name>
        <url-pattern>/article/*</url-pattern>
    </filter-mapping>

    <!--Spring MVC的前端控制器-->
    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <!--default spring file localtion:/WEB-INF/servlet-name-servlet.xml-->
        <!--<init-param>-->
        <!--<param-name>contextConfigLocation</param-name>-->
        <!--<param-value>/WEB-INF/springmvc-servlet.xml</param-value>-->
        <!--</init-param>-->
    </servlet>
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>