<!-- BEGIN GLOBAL MANDATORY STYLES -->
##<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
<link href="${rc.contextPath}/js/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="${rc.contextPath}/js/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
<link href="${rc.contextPath}/js/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="${rc.contextPath}/js/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
<link href="${rc.contextPath}/js/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css">
<link href="${rc.contextPath}/js/plugins/morris/morris.css" rel="stylesheet" type="text/css">
<!-- END PAGE LEVEL PLUGIN STYLES -->
<!-- BEGIN PAGE STYLES -->
<link href="${rc.contextPath}/css/tasks.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE STYLES -->
<!-- BEGIN THEME STYLES -->
<!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
<link href="${rc.contextPath}/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css">
<link href="${rc.contextPath}/css/plugins.css" rel="stylesheet" type="text/css">
<link href="${rc.contextPath}/css/layout.css" rel="stylesheet" type="text/css">
<link href="${rc.contextPath}/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color">
<link href="${rc.contextPath}/css/custom.css" rel="stylesheet" type="text/css">
<!-- END THEME STYLES -->
<link href="${rc.contextPath}/js/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css">
